// Creacion de dos variables globales para utilizar en todo el proyecto
$blue_color: #1e4164;
$navFont_color: #dbe1e1;
$title_color: #1976d2;
$cardwidth: 300px, 500px;
$border-contrast: false !default;


@mixin btn-op1($colorHover: royalblue) {
  border-radius: 20px;
   &:hover {
    background-color: $colorHover;
  }
}

@mixin cardStyle($borderr) {
  margin: 5px;
  padding: 5px;
  border-style: solid;
  @if $borderr {
    border-radius: 20px;
  }
}

.error {
  @include cardStyle(true);
  border-color: red;
}

.warn {
    @extend .error;
    border-color: orange
}

.success {
    @extend .error;
    border-color: blue;
}



code {
  background-color: #6b717f;
  color: #d2e1dd;
  @if $border-contrast {
    border-color: #dadbdf;
  }
}