<div class="container">
  <div class="title">
    <h1>Indices de Contagio del COVID-19 en Centro America</h1>
  </div>
  <div class="prub">
    <nav class="nav">
      <div>
        <button>Guatemala</button>
      </div>
      <div>
        <button>El Salvador</button>
      </div>
      <div>
        <button>Honduras</button>
      </div>
      <div>
        <button>Nicaragua</button>
      </div>
      <div>
        <button>Costa Rica</button>
      </div>
      <div>
        <button>Panama</button>
      </div>
    </nav>
    <div class="cards">
      <!-- <div class="card-mundial-1">
        <div><p>Confirmados</p></div>
        <div>as</div>
      </div>
      <div class="card-mundial-2">
        <div><p>Fallecidos</p></div>
        <div>ff</div>
      </div>
      <div class="card-mundial-3">
        <div><p>Recuperados</p></div>
        <div>tt</div>
      </div> -->
      <div class="table">
        <div class="caption">this is the table caption</div>
        <div class="ColGroup">
          <div class="column1"></div>
          <div class="column2"></div>
        </div>
        <div class="headerTable">
          <div class="row">
            <div class="cell">row 1</div>
            <div class="cell">row 2</div>
            <div class="cell">row 3</div>
          </div>
        </div>
        <div class="tableRow">
          <div class="row">
            <div class="cell">Apple</div>
            <div class="cell">Diadem Sifaka</div>
            <div class="cell">Cat</div>
          </div>
          <div class="row">
            <div class="cell">Mango</div>
            <div class="cell">Ring-tailed</div>
            <div class="cell">Chicken</div>
          </div>
          <div class="footTable">
            <div class="row">
              <div class="cell">este es</div>
              <div class="cell">el footer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lineTable">
    <p class="floatleft">This is floated content.</p>
<p class="floatright">This is floated content.</p>
  </div>
  <div class="white-space">
    <div class="title">
      <h2>Medidas de seguridad personal</h2>
    </div>
    <div class="spaceNormal">
      <h4>Mantenga una distancia de 6 pies de los demás</h4>
      <p class="listitem">
        Dentro de su casa: evite el contacto cercano con las personas que están
        enfermas;
      </p>
      <p class="listitem">
        <span>Fuera de su casa:</span> mantenga una distancia de 6 pies de las
        personas que no viven en su hogar.
      </p>
    </div>
    <div class="spacePre">
      <h4>Evite las grandes aglomeraciones y los espacios mal ventilados</h4>
      <p>
        Estar en espacios con <span>aglomeraciones como restaurantes</span> ,
        bares, gimnasios o cines aumenta su riesgo de COVID-19.
      </p>
    </div>
    <div class="spaceNoWrap">
      <h4>Lavarse las manos frecuentemente</h4>
      <p>
        Lávese las manos con <span>frecuencia con agua y jabón</span> por al
        menos 20 segundos, especialmente después de haber estado:
      </p>
      <p>en un lugar público</p>
      <p>después de sonarse la nariz</p>
      <p>toser o estornudar.</p>
    </div>
    <div class="spacePreWrap">
      <h4>Limpie y desinfecte</h4>
      <p>
        Limpie las superficies de alto contacto a diario. Esto incluye las
        mesas, las manijas de las puertas, los interruptores de luz, los
        mesones, <span>las barandas, los escritorios, los teléfonos</span> , los
        teclados, los inodoros, los grifos, los lavamanos y los lavaplatos.
      </p>
    </div>
    <div class="spacePreLine">
      <h4>Limpie y desinfecte</h4>
      <p>
        Limpie las superficies de alto contacto a diario. Esto incluye las
        mesas, las manijas de las puertas, los interruptores de luz, los
        mesones,<span>las barandas, los escritorios, los teléfonos</span> , los
        inodoros, los grifos, los lavamanos y los lavaplatos.
      </p>
    </div>
    <div class="spacePInherit">
      <h4>Limpie y desinfecte</h4>
      <p>
        Limpie las superficies de alto contacto a diario. Esto incluye las
        mesas, las manijas de las puertas, los interruptores de luz, los
        mesones,<span>las barandas, los escritorios, los teléfonos</span> , los
        inodoros, los grifos, los lavamanos y los lavaplatos.
      </p>
    </div>
  </div>
</div>
