
<div >
  <div class="title">
    <h2>Medidas de seguridad personal</h2>
  </div>
  <div class="error">Error</div>
  <div class="warn">Warning</div>
  <div class="success">Exitoso</div>
  <div class="card-1">
    <h4>Mantenga una distancia de 6 pies de los demás</h4>
    <p class="listitem">
      Dentro de su casa: evite el contacto cercano con las personas que están
      enfermas;
    </p>
    <p class="listitem">
      <span>Fuera de su casa:</span> mantenga una distancia de 6 pies de las
      personas que no viven en su hogar.
    </p>
  </div>
  <div class="card-2">
    <h4>Evite las grandes aglomeraciones y los espacios mal ventilados</h4>
    <p>
      Estar en espacios con <span>aglomeraciones como restaurantes</span> ,
      bares, gimnasios o cines aumenta su riesgo de COVID-19.
    </p>
  </div>
  <div class="card-3">
    <h4>Lavarse las manos frecuentemente</h4>
    <p>
      Lávese las manos con <span>frecuencia con agua y jabón</span> por al menos
      20 segundos, especialmente después de haber estado:
    </p>
    <p>en un lugar público</p>
    <p>después de sonarse la nariz</p>
    <p>toser o estornudar.</p>
  </div>
  <div class="card-4">
    <h4>Limpie y desinfecte</h4>
    <p>
      Limpie las superficies de alto contacto a diario. Esto incluye las mesas,
      las manijas de las puertas, los interruptores de luz, los mesones,
      <span>las barandas, los escritorios, los teléfonos</span> , los teclados,
      los inodoros, los grifos, los lavamanos y los lavaplatos.
    </p>
  </div>
  <div class="card-5">
    <h4>Limpie y desinfecte</h4>
    <p>
      Limpie las superficies de alto contacto a diario. Esto incluye las mesas,
      las manijas de las puertas, los interruptores de luz, los mesones,<span
        >las barandas, los escritorios, los teléfonos</span
      >
      , los inodoros, los grifos, los lavamanos y los lavaplatos.
    </p>
  </div>
  <div class="card-6">
    <h4>Limpie y desinfecte</h4>
    <p>
      Limpie las superficies de alto contacto a diario. Esto incluye las mesas,
      las manijas de las puertas, los interruptores de luz, los mesones,<span
        >las barandas, los escritorios, los teléfonos</span
      >
      , los inodoros, los grifos, los lavamanos y los lavaplatos.
    </p>
  </div>
</div>
